/* Rest CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  height: 100vh;
  /* list-style: none; */
}
/* default all images to 100% */
img {
  width: 100%;
  height: 100%;
}

/* header style start */
header a{
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #1d1f1d;
  color: white;

}
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: white; */
}

.nav-menu{
  height: 100%;
}

.nav-menu ul{
  display: flex;
  justify-content: flex-end;  
  flex-direction: row;
  height: 100%;

}
.nav-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.2rem;
  font-size: 16px;
}
.nav-menu ul li:hover {
background-color: rgb(90, 83, 83);
}

.nav-menu {
  /* justify-content: flex-start;
  list-style-type: none; */

}
#logo a{
  font-size: 2rem;
  color: white;
  /* margin: 0.5rem; */

}
#logo a:hover{
  color:#cc670e;

}
.hamburger-icon{
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 2.5rem;
  width: 33px;
  height: 21px;
  cursor: pointer;
  display: none;
}
.hamburger-icon a{
  color: white;
  /* font-size: 2rem; */
}
.hamburger-icon a:hover{
  color: lightcoral;
}
.nav-menu{
  /* display: flex; */
  /* justify-content: space-between; */
  display: inline;
}
.nav-menu a{
  color: white;
  font-size: 2em;

}

.nav-menu:hover{
  transform: scale(1.1);
  transition: 0.3s; 
  
}
.close-icon{
  display: none;
}


/* header style end */

/* hero style start */
.nav{
  position: absolute;
  top: 8px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  display: inline;
  }
  
  .nav a{
    color: white;
    font-size: 2em;
  
  }
  .nav:hover{
    transform: scale(1.1);
    transition: 0.3s; 
    
  }
  
  .nav a:hover{
    color: lightcoral;
  }
  

.hero{
  background-image: linear-gradient(rgba(185, 163, 163, 0.5), rgba(0, 0, 0, 0.5)), url("img/jude-arubi-DQoyFcXLMN8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 100vh 100vw; */
  background-color: white;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: none;  
}
.hero-text {
  max-width: 1000px;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
}
.hero-text h1 {
  font-size: 50px;
  font-weight: 600;

}
.hero-text p {
  font-size: 10px;
  font-weight: lighter;
  
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 30px;
  background-color: #f04014;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
.hero-text button:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.hero-text button:hover {
  background-color: rgb(66, 106, 141);
  color: white;
}
#aboutMe h2 {
  color: black;
  text-align: left;
  padding: 1rem;
}
#aboutMe p {
  color: black;
  font-weight: 100;
  /* text-align: left; */
  /* justify-content: flex-start; */
}
#aboutMe {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  margin: 15%;
}
/* hero style end */



/* Portfolio/card style start */
.portfolio{
  /* padding: 5%;
  margin-top: 40px;
  margin-bottom: 25%; */
  color: white;

}
.container{
  width: 450px;
  margin: 20px auto;
  /* vertical-align: top; */
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(118, 115, 115);
}
.portfolio h2 {
  font-size: 35px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
  
}
.upper-1{
  background-color: rgb(159, 94, 219);
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 264px;
}
.upper-2{
  background-color: rgb(84, 150, 84);
  height: 264px;
  width: 100%;
  border-radius: 10px 10px 0 0;

}
.upper-3{
  background: rgb(11, 176, 231);
  height: 264px;
  width: 100%;
  border-radius: 10px 10px 0 0;

}

/* .bottom{
  background-color: rgb(206, 16, 16);
  padding: 0 15px 15px 15px;
  height: 240px;
  border-radius: 0 0 10px 10px;

} */
.bottom h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  /* margin-bottom: 10px; */
  color: white;
  padding: 20px;
}
.bottom{
  font-size: 14px;
  padding: 0 15px 15px 15px;
  background-color: rgb(206, 16, 16);
  height: 240px;
  border-radius: 0 0 10px 10px;

}
.card-list li{
  padding: 5px;
  font-size: 16px;
}  
.bottom li{
  font-size: 14px;
  font-weight: normal;
}
  


/*  Portfolio/card style ended*/

/* Contact Me style start */
#social-contact-info {
  color: white;
  padding: 20px;
  position: relative;
  margin-bottom: 2rem;
  justify-content: space-between; 

}
#social-contact-info h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;

}
#social-contact-info p {
  font-size: 14px;
}
.contact-info #form{
  /* position: absolute; */
  top: 0;
  width: 100%;
  height: 100%;
}
#social-contact-info, 
.social-icons{
  display: flex;
  flex-direction: column;
  /* font-size: 2em; */
  color: white;
  text-decoration: none;
  padding: 10px;
  /* margin: 10px; */

}

/* #social-contact-info .social-icons {
  display: flex;
  flex-direction: column;
  font-size: 30px;

} */
.social-icons:hover{
  color: #555;

}

.social-icons i{
  font-size: 2.5rem;
  /* color: azure; */
}

.contact-info form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
input[type=text],
input[type=email]
{
  width: 100%;
  padding: 20px 20px;
  border: 3px solid #555;
  border-radius: 4px;
  background: #f1f1f1;;
 
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.btn {
  background-color: #0ed48b;
  color: white;
  border: none;
  padding: 16px 32px;
  margin: 20px 2px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

/* footer style start */
footer {
  background-color: grey;
  text-align: center;
  padding: 20px 0;
}

/* footer style end */

/* 45em is equal to  720px Phone View*/

@media screen and (min-width: 45em) {
  body {
    max-width: 950px;
    margin: 0 auto;
  }
  main {
    padding: 0;
  }
  /* might need to delete */
  /* header nav ul {
    position: absolute;  
    align-items: center;
  } */
  header{
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger-icon{
    display: block;
  }

  .nav-menu{ 
    display: none;
    width: 100%;
  }
  .nav-menu ul{
    width: 100%;
    flex-direction: column;
  }

  .nav-menu ul li {
    text-align: center;
  }

  .nav-menu:hover li a {
    padding: 0.5rem 1rem;
  }

  .nav-menu.active {
    display: flex;
    margin-bottom: 1rem;
  }


/* Contact info */
.contact-info{
  /* max-width: auto; */
}
#form {
}

}





/* 60em is equal to 960px Tablet View*/
body{
  max-width: 1440px;
  margin: 0;
}
@media screen and (min-width: 60em) {
  .container .card-1 .card-2 .card-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
  }
  .card-1 .card-2 .card-3{
    width: 80%;
  }

}

/* 90em is equal to 1440px Larger Screen View*/
@media screen and (min-width: 90em) {
  body{
    max-width: 1750px;
  }




  /* Card styling start   */

.portfolio{
  display: flex;
  justify-content: space-evenly;


}

.container{
  display: inline;
  vertical-align: top;
  width: 25%;
}


/* Card styling end */

/* Contact info */
#social-contact-info {
  display: flex;

}
.contact-info {
  flex: 2 1 auto;
}
.social-icons {
  flex: 1 1 auto;
}


/* Contact info ended */

/* footer style start */
footer {
  display: none;
}
/* foot style end */


  
}

