/* Rest CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;  
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;  
  background-color: black;
  height: 100vh;
}
h1,
h2,
h3 {
  color:#ffff;
  font-weight: 600;
}
li {
  list-style: none;
}
a {
  color: hsl(342, 92%, 46%);
  text-decoration: none;
  cursor: pointer;

}
a:hover {
  color: hsl(342, 92%, 46%);
}
button a {
  cursor: pointer;
}

/* ========= default all images to 100% =========== */
img {
  /* max-width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*  ==== Active Link */

/* ============ LAYOUT ============== */
.container {
  /* max-width: 1250px;
  margin-left: auto;
  margin-right: auto; */
}
.container {
  min-height: 100vh;
  /* height: 100%; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
}
/* ======== Reusable CSS Classes */
.section {
  padding: 6.5rem 0 2rem;
  /* color: #ccc; */
}
.section_title{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}
.section_title::before {
  content: attr(data-heading);
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #f04014;
}

/* ============ Header Style Section ============== */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31,30, 30, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  padding: 0 10px;
}
#header .menu-list ul {
  position: absolute;
  background-color: rgba(31,30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}
#header .menu-list ul.active {
  left: 0%;
}
#header .menu-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .menu-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale (0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: 1;
  transition: 0.3s ease letter-spacing;
}
#header .menu-list ul li:hover a::after {
  transform: translate(-50%, -50%)scale(1);
  letter-spacing: initial;

}
#header .menu-list ul li:hover a {
  color: hsl(342, 92%, 46%);

}
#header #logo span {
  color: hsl(342, 92%, 46%);
}
/* Hamburger Style */
#header .hamburger-icon {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger-icon::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger-icon .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
  /* transition: .5s ease all; */
}
#header .hamburger-icon .bar::after, 
#header .hamburger-icon .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .5s ease all;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger-icon .bar::after {
  top: 8px;
}
#header .hamburger-icon .bar::before {
  bottom: 8px;
}
#header .hamburger-icon.active .bar::before {
  bottom: 0;
}
#header .hamburger-icon.active .bar::after {
  top: 0;
}
#header #logo h1 {
  /* font-family: "Poppins", san-serif; */
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  /* margin: 0.5rem; */
}
#header #logo h1:hover {
  color:hsl(342, 92%, 46%);
}

/* ====== Hero Style Section ====== */
.hero-icon {
  margin-top: 40px;
  display: flex;
}  
.hero-icon a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    color: #ffff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
  .hero-icon:hover {
    transform: scale(1.1);
    transition: 0.3s; 
  }  
  .hero-icon a:hover {
    color: hsl(342, 92%, 46%);
  }
.hero {
  background-image: linear-gradient(
      rgba(17, 16, 16, 0.5), 
      rgba(0, 0, 0, 0.5)), 
    url("img/david-monje-SdeodksvYwE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh 100vw;
  /* background-color: white; */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
.hero-text {
  /* max-width: 1000px; */
  color: white;
  text-align: center;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
}
.hero-text h1 {
  /* display: block; */
  font-size: 4rem;
  width: fit-content;
  /* font-weight: 700; */
}
.hero-text span {
  border-bottom: 2px solid hsl(342, 92%, 46%);
  padding-bottom: 6px;
}
.hero-text h2 {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: lighter;
}
.hero-text span:hover {
  border-bottom: 2px solid #ff28f4;
  padding-bottom: 6px;
}
.hero_button {
  display: inline-flex;
  align-items: center;
  /* column-gap: 0.5rem; */
  /* justify-content: space-between; */
  gap: 15px;
  background: hsl(342, 92%, 46%);
  color: white;
  padding: 10px 30px;
  border-radius: 0.25rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  /* position: relative; */
  margin-top: 30px;
  z-index: 1;
  transition: 0.4s;
}
.hero_button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: white;
  background: rgba(255, 255, 255, 0.08);
}

/* .hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: .75rem 1.4rem;
  background-color: hsl(342, 92%, 46%);
  color: white;
  border-radius: .25rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
  z-index: 1;
} */
/* .hero-text button:hover{
  transform: scale(1.1);
  transition: 0.3s;
} */

/* .hero-text button:hover {
  background-color: rgb(66, 106, 141);
} */

/* ========= ABOUT STYLE ====== */
.about{
  color: white;
}

.about_container {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 50px 20px; */
}
.about_img {
  /* left: -45px; */
  top: 34px;
  height: 88%;
  width: 88%;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0px 0px 18px 0 #555;
  transition: .3s ease box-shadow;

}
.about_img:hover {
  box-shadow: 0px 0px 5px 0 #555;

}

.about_container .about_data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  /* overflow: hidden; */
}

.about_data h3 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}
.about_data p {
  display: block;
  width: 450px;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: .05rem;
}
.about_info {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  display: flex;
  /* gap: 1rem; */
  column-gap: 0.75rem;
  /* font-size: 2rem; */
  align-items: center;

}
.about_info .about_box {
  display: inline;
  text-align: center;
  border-radius: 0.25rem;
  padding: 20px 30px;
  background-color: hsl(242, 14%, 10%);
  margin-bottom: 2rem;
  /* font-size: 2rem; */
}
.about_box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0  hsl(342, 92%, 46%);
  transition: 0.3s;
}
.about_icon {
  font-size: 2rem;
  color: hsl(342, 92%, 46%);
  margin-bottom: 0.75rem;
}
.about_title {
  /* font-size: 0.875rem; */
}
.about_subtitle {
  font-size: 1.5rem;
}
.about_button {
  display: inline;
  justify-content: center;
  align-items: center;
  /* column-gap: 0.5rem; */
  background: hsl(342, 92%, 46%);
  color: white;
  padding: 10px 30px;
  border-radius: 0.25rem;
  font-size: 2rem;
  /* font-weight: 400; */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: absolute;
  margin-top: 30rem;
  z-index: 1;
  transition: 0.4s ease;
}
.about_button:hover {
  transform: scale(1.1);
  background: hsl(242, 14%, 10%);
}

/* ====== AboutMe Style Section */
/* #aboutMe h2 {
  color: white;
  text-align: left;
  padding: 1rem;
}
#aboutMe p {
  color: white;
  font-weight: 100;
  /* text-align: left; */
  /* justify-content: flex-start; */
/* }
#aboutMe {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-direction: column; */
  /* align-items: center; */
  /* margin: 15%; */


  /* ============== Skills Section ============== */
  .skills {
    flex-direction: column;
    max-width: 1500px;
    /* margin: 0 auto; */
    padding: 100px 0;
  }
  
.skills_container {
  grid-template-columns: 360px;
  column-gap: 3rem;
  justify-content: center;
}
.skills-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.skills-header:not(:last-child) {
  margin-bottom: 2.5rem;
}
.skills-subtitle {
  font-size: 0.875rem;
}
.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: hsl(342, 92%, 46%);
}
.skills-icon {
  margin-right: 0.75rem;
}
.skills-arrow {
  margin-left: auto;
}
.skills_active .skills-arrow {
  transform: rotate(-90deg);
  transition: .3s;

}
.skills [data-content] {
  display: none;
}
.skills_active[data-content] {
  display: block;
}
.skills-title {
  font-size: 2.25rem;
  font-weight: 500;
}
.skills-list {
  row-gap: 1.8rem;

}
.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.skills-name {
  font-size: 1.25rem;
  font-weight: 500;
}
.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;

}
.skills_bar {
  background-color: #29323c;
}
.skills_percentage {
  display: block;
  background-color: hsl(342, 92%, 46%);
}


  /* ========== Portfolio Style Section =========*/
.portfolio {
  /* flex-direction: column;
  text-align: center; */
  /* max-width: 1500px; */
  /* width: 100%;
  margin: 0 auto;
  padding: 100px 0; */
  /* padding: 1%; */
  /* background-color: #1d1f1d;
  color: white; */
  
}
/* .portfolioTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
} */
.portfolio .upper {
  /* width: 80%; */
  /* flex-basis: 80%; */
  /* margin: 20px 5%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(118, 115, 115);
  display: inline;
  vertical-align: top; */
}
.portfolio_img {
  /* width: 100%; */
  
  /* border-radius: 20px 20px 0 0; */
  /* height: 300px; */
  /* margin: 3%; */

}
.bottom h3 {
  /* font-size: 1.5em;
  font-weight: bold;
  text-align: center; */
  /* margin-bottom: 10px; */
  /* color: white;
  padding: 20px; */
}
/* .bottom {
  font-size: 14px;
  padding: 0 15px 15px 15px;
  background-color: rgb(11, 9, 9);
  height: 300px;
  border-radius: 0 0 10px 10px;

}
.card-list li {
  padding: 5px;
  font-size: 16px;
}  
.bottom li {
  font-size: 14px;
  font-weight: normal;
} */
/*  Portfolio/card style ended*/

/* ========= PROJECTS SECTION ======== */
.project {
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
.project .project_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project .project_filters {
  display: inline-block;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  /* margin-top: 1rem; */
  margin: 15px;
  margin-bottom: 25px;

}
.project .project_filters .work_item {
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.75rem 1.4rem;
  border: 2px solid hsl(342, 92%, 46%);

}
.project .project_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 0.50rem;
  color: white;
}
.project .project-img {
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* padding: 10px; */
}
.project .project-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  opacity: .7;
}
.project .project-img img {
  transition: 0.3s ease transform;
}
.project .project_card:hover .project-img img {
  transform: scale(1.1);
}
.project .project_item-details {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  color: white;
}
.project .project_item-details h2 {
  /* font-size: 4rem;
  font-weight: 500; */

}
.project .project_item-details h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5px;
}
.project .project_item-details p {
  /* line-height: 2.5rem;
  font-size: 1.8rem; */
}



.project_img img:hover {
  /* opacity: 1; */
  /* transform: scale(1); */
}
  

.project_card .project_img{
  /* width: 100%;
  height: 500px;
  border-radius: 2px; */
}
.project_card:hover {
  box-shadow: 0px 0px 5px 0 rgb(71, 69, 69);
  /* -webkit-box-shadow: 0px 0px 5px 0 rgb(71, 69, 69); */

}

.project_item-details {
  /* padding: 0.25rem; */
  /* flex-basis: 80%; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
  padding: 10px; */
}
.project_container .project_img {
  /* flex-basis: 50%;
  border-radius: 0.5rem; */
  /* margin: 3%; */
  /* overflow: scroll; */
  /* width: 550px; */
  /* border-style: solid; */
  /* border-color: #0ed48b; */
  /* height: 300px; */

}
.project_title {
  font-size: 3rem;
  font-weight: 500;
}
/* .pjt_button {
  color: #f04014;
  font-size: 16px;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
} */
.project_button-icon{
  font-size: 1rem;
  transition: .3s;
}
.project_button:hover,
.project_button-icon {
  transform: translate(1.25rem);
}
.project_item-details .project_detail-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.project_info li{
  font-size: 1.5rem;
}
.project_item-details .project_description {
  /* margin-top: 0.75rem; */
  margin-bottom: 2rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
  /* margin-bottom: 10px; */

}
.project_info li {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}
.project_info li:last-child {
  margin-bottom: 0;
}
.project_info li span {
  font-weight: normal;
}
.project_info li a {
  text-transform: uppercase;
  color: white;
  
}

.project_button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
  gap: 0.50rem;
  background: hsl(342, 92%, 46%);
  color: white;
  padding: 10px 30px;
  font-size: 2rem;
  border-radius: 0.25rem;
  border: 2px solid white;
  font-weight: 500;
  /* position: relative; */
  margin: 20px 0 40px 0;
  margin-bottom: 60px ;
  z-index: 1;
  transition: 0.4s;
}

/* ========= Contact Style Section ========== */
.contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  /* padding: 20px; */
  width: 100%;
  /* margin-bottom: 0.75rem;   */
}

.contact_container {
  /* grid-template-columns: 500px 540px;
  /* column-gap: 6rem; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  /* margin: 0 auto; */
  column-gap: 6rem;

}
.contact-info {
  width: 100%;
}
.contact_content {
  width: 100%;

}
.contact_content .contact_info {
  /* align-items: center; */
  /* justify-content: center; */

  /* display: grid; */
  /* row-gap: 0.75rem; */
  /* width: 100%; */
  /* gap: 5rem; */
}

.contact_card {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 3rem;
  border-radius: 0.25rem;
  text-align: center;
  /* margin-bottom: .75rem; */
  width: 80%;
  /* padding: 20px; */
  text-align: center;
  margin: 40px;
  /* margin-left: 10%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  box-shadow: 0px 0px 18px 0 #555;
  transition: 0.3s ease box-shadow;

}
.contact_card:hover {
  transform: scale(1.1);
  transition: 0.3s;


}
.contact_card i {
  font-size: 1.8rem;
  color: hsl(342, 92%, 46%); 
  margin-bottom: 0.75rem;
  border-radius: 50%;
  padding: 8px;
  background: rgba(255, 255, 255, 0.08);
}
.contact_card i:hover{
  transform: scale(1.2);
  transition: 0.3s;
  color: white;
 
}
.contact_card a{
  color: white;
}
.contact_card h3{
  /* font-size: 1.25rem; */
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.contact_card-icon{
  /* font-size: 1.8rem;
  color: white;
  margin-bottom: 0.25rem; */
}
.contact_card .contact_card-data{
  font-size: 1.3rem;
  
}
.contact_card-title{
  /* font-weight: 500; */
}
.contact_card-data{
  display: block;
  margin-bottom: .75rem;
}

.contact_btn{
  /* color: #ffff;
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
  background: hsl(342, 92%, 46%);
  color: white;
  padding: .75rem 1.4rem;
  border-radius: .25rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  transition: .4s; */
 
}
.contact_btn-icon i{
  /* font-size: 1rem;
  transition: .3s; */
}
.contact_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  /* column-gap: 0.5rem; */
  background: hsl(342, 92%, 46%);
  color: white;
  padding: 16px 32px;
  font-size: 2rem;
  border-radius: 0.25rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  /* position: relative; */
  z-index: 1;
  transition: .4s;
}
.contact_btn:hover{
  transform: scale(1);
  background: hsl(242, 14%, 10%);
  box-shadow: 0px 0px 10px 0  hsl(342, 92%, 46%);
}

.social-icons i{
  font-size: 2.5rem;
  /* color: azure; */
}
.contact-info{
  /* grid-template-columns: 300PX 340px;
  column-gap: 3rem;
  justify-content: center;
  align-items: center; */
}

.contact_form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 0.5rem 1rem 0.5rem 1rem; */
}
.input_container{ 
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
}
input{
  width: 100%;
  padding: 1rem 2.5rem;
  border: 3px solid #555;
  border-radius: .25rem;
  background: transparent;
  color: #ffff;
  font-weight: 500;
  font-size: 1.8rem;
  /* margin: 0.5rem 1rem 0.5rem 1rem; */
  margin-top: .75rem;
}
textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px 30px;
  box-sizing: border-box;
  border: 3px solid #555;
  border-radius: 0.25rem;
  background: transparent;
  color: #ffff;
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  resize: none;
}
label{
  color: #ffff;
  font-size: 2.5rem;
  font-weight: bold;
  
}

.btn {
  /* background-color: #0ed48b;
  color: white;
  border: none;
  padding: 16px 32px;
  margin: 20px 2px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px; */
}
.info{
  color: white;

}

/* Footer Style start */
footer {
  background-color: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 20px 0;
  color: #ffff;
}
.footer_icon {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  color: #ffff;
  line-height: 2;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  

}
.footer_icon{
  transform: scale(1.1);
  transition: 0.3s; 
  
}  
.footer_icon:hover{
  color: hsl(342, 92%, 46%);
}

/* footer style end */

/* KEYFRAMES */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}


/* Media Query */

/* Media Query for Mobile 30em is equal to 480px */

@media screen and (min-width: 30em) {
  body {
    margin: 0 auto;
  }
  main {
    padding: 0;
  }
.contact_container {
  grid-template-columns: 360px;
  row-gap: 3rem;
  }
}
/* 48.75em is equal to 780px Tablet View*/

@media screen and (min-width: 780px) {
  body{
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .section_title {
    font-size: 7rem;
  }
  .section_title::before {
    content: attr(data-heading);
    /* display: block; */
    font-size: 3rem;
  }
  /* ==============  HERO SECTION  ================== */
  .hero-text h1 {
    font-size: 7rem;
  }
  /* .hero-icon {
    margin-top: 60px;
  } */
  .hero_button {
    padding: 20px 60px;
    font-size: 2.5rem;
  }
  .hero-icon a {
    font-size: 25px;
    width: 60px;
    height: 60px;
  }
  .hero-text h2 {
    font-size: 2.5rem;
  }
  /* =================  ABOUT STYLE  ================  */
  .about_container {
    /* grid-template-columns: 500px;
    row-gap: 4.5rem;
    justify-content: center;
    align-items: center; */
    flex-direction: row;
  }
  .about .about_img {
    width: 600px;
    height: 500px;
    /* justify-content: center; */
  }
  .about .about_data {
    display: inline-block;
    text-align: left;
    padding: 40px;
  }
  .about .about_data h3 {
    text-align: left;
  }

  .about .about_data p {
    text-align: left;
    width: 550px;
    line-height: 3rem;
    font-size: 2.2rem;
  }
  .about_data p {
    /* display: block;
    width: 400px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.5rem; */
  }  
  .about_info .about_box {
    padding: 30px 40px;
  }  

  .about_info {
    /* align-items: left; */
  }
  .about_data {
    /* padding: 0.4rem; */
    /* text-align: center; */
  }
  .about_info .about_button {
    padding: 20px 40px;
    font-size: 2.5rem;
  }

  /*  ================== SKILLS SECTION FOR MEDIA QUERY  */

  .skills_container {
    grid-template-columns: 360px 320px;
    /* column-gap: 3rem; */
    justify-content: center;
  }
  


/* =========== PROJECT SECTION ========== */

.project .project_card {
  flex-direction: row;
}
.project .project_card:nth-child(even) {
  flex-direction: row-reverse;
}
.project .project_card {
  height: 500px;
  margin: 0;
  width: 100%;
  border-radius: 0%;
  margin: 15px;
}
.project .project_container .project_item-details {
  height: 100%;
}
.project .project_container .project-img {
  height: 100%;
}


  /* ======= CONTACT STYLE FOR MEDIA ========= */
  .contact .contact_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20vh;


}
.contact_content {
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  /* justify-content: center; */
}
.contact .contact_info {
  width: 100%;
  display: flex;
  float: left;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.contact_container .contact_card {
  /* width: 30%;
  margin: 0;
  flex-direction: row; */
}
.contact_btn {
  padding: 20px 60px;
}
}

/* 65em is equal to 1040px Larger Screen View*/
@media screen and (min-width: 65em) {
  #header .hamburger-icon {
    display: none;
  }
  #header .nav-menu ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    /* flex-direction: row; */
    background-color: transparent;
  }
  #header .nav-menu ul li {
    display: inline-block;
  }
  #header .nav-menu ul li a {
    font-size: 1.8rem;
  }
  #header .nav-menu ul a:after {
    display: none;
  }
  /* .hero_button {
    padding: 20px 60px;
    font-size: 2.5rem;
  } */

  /* =============== HERO STYLE FOR MEDIA QUERY  ================= */

  .hero-text h2 {
    font-size: 3rem;
  }  
  .about_info .about_box {
    display: inline;
  }
  .about_info .about_box {
    /* padding: 30px 60px; */
  }
  .skills .progress .skill {
    font-size: 2.5rem;
  }  
  /* .project_item-details {
    float: left;
  } */

  /*  =============  PROJECT SECTION  =============  */
  /* .project .project_card {
    flex-direction: row;
  }
  .project .project_card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .project .project_card {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0%;
    margin: 10px;
  }
  .project .project_container .project_item-details {
    height: 100%;
  }
  .project .project_container .project-img {
    height: 100%;
  } */
}

/* 90em is equal to 1440px Extra-Larger Screen View*/
@media screen and (min-width: 90em) {
  body {
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-icon {
    margin-top: 50px;
  }


  /* Card styling start   */

  /* Card styling end */

/*  =============  PROJECT SECTION  =============  */
  .project .project_card {
    /* height: 500px;
    margin: 20px;
    width: 90%; */
    
    /* border-radius: 0; */
  }
  .project .project_container .project_item-details{
    /* height: 100%; */
  }
  .project .project_container .project_img {
    /* height: 500px; */
  }

/* ======= CONTACT STYLE FOR MEDIA ========= */
.contact {
  flex-direction: column;
  padding: 200px 0;
  align-items: center;
  justify-content: center;
  min-width: 20vh;

}

.contact .contact_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
  flex-direction: column;
  /* column-gap: 5rem; */
}
.contact_container {
  /* width: 100%; */
  /* margin-top: 50px; */
  /* display: flex;
  flex-direction: column; */

}
.contact_content .contact-info .contact_card{
  /* flex-direction: column; */
}
.contact_card {
  width: 100%;
  height: auto;
}
.contact_form {
  /* margin-left: 25%; */
  width: 50%;

}

/* footer style start */
footer {
  display: none;
}
/* foot style end */
}




  


